.admin-dash-wrapper {
  position: relative;
  /* margin-top: 115px; */
}

.admin-dash {
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

#admin-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 340px;
  width: 340px;
  top: 115px;
  background-color: #4d394b;
  overflow-y: scroll;
  min-height: 100vh;
  height: 100%;
  color: white;
}

.sidebar-content {
  margin-top: 15px;
  font-family: Oswald;
  letter-spacing: 1px;
}

.sidebar-content span {
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.admin-dash-column {
  min-height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#admin-dash-left {
  min-height: 100%;
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

#admin-dash-right {
  width: 50%;
  margin: auto;
}

.admin-dash-bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  /* overflow-y: auto;  /*adds scroll to this container*/ */
}

.admin-dash-bottom #article-form .quill-element {
  max-height: 300px;
  overflow-y: scroll;
}

.admin-dash-bottom #article-form {
  margin-top: -300px;
}

#admin-dash-right .admin-dash-bottom {

}

.welcome-banner {
  text-align: center;
}

#active-user-green-circle {
  display: inline-block;
  margin-right: 2px;
  height: 10px;
  width: 10px;
  background-color: #2dbf30;
  border-radius: 50%;
}

.admin-dash-category-index {
  float: left;
}

.category-index h1 {
  font-family: Avalon;
}
