/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import url('fonts.css');
@import url('errors.css');
@import url('header.css');
@import url('home_page.css');
@import url('button_styles.css');
@import url('admin_dash.css');
@import url('session_form.css');
@import url('category_index.css');
@import url('modal.css');
@import url('quill.css');
@import url('article_form.css');
@import url('article_index.css');
@import url('article_show.css');
@import url('searchbar.css');
@import url('unpublished_articles_index.css');

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

.modal-open {
  overflow: hidden;
}

#all-but-header {
  padding-top: 100px;
}

#article-form h2 {
  font-family: Avalon;
}
