#article-form {
  width: 600px;
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;

}

.quill-element {
  margin-bottom: 5px;
  z-index: 2;
  background-color: white;
}

.article-form-button:hover {
  cursor: pointer;
}

.article-form-submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px auto 0 auto;
}

#image-upload-message {
  position: relative;
}
