.article-index {
  display: flex;
  flex-direction: column;
}

.article-index-item {
  width: 85%;
  margin: 10px auto 10px auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.article-index-item img {
  width: 90%;
  height: auto;
  margin: 0 auto 20px auto;
}

.article-index-item span:hover {
  cursor: pointer;
  color: red;
}

.article-index-item div {
  padding-left: 5px;
  padding-right: 5px;
}

.article-index-item a {
  color: black;
}

.article-index-item a:hover {
  color: #3D3D3D;
  cursor: pointer;
}
