.category-index {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  background-color: white;
}

.category-index h3 {
  text-decoration: underline;
  font-family: Merriweather;
}

.category-index-item {
  width: 85%;
  margin: 2px auto 2px auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E8E8E8;
}

.category-index-item span:hover {
  cursor: pointer;
  color: red;
}

.create-category-form-input {
  width: 100%;
  margin: auto;
}

.category-index-create-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
