header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background-color: white;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  z-index: 3;
  position: fixed;
  padding-bottom: 5px;
}

header a {
  text-decoration: none;
  font-family: "Avalon";
}

/* .synergize-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.synergize-logo {
  display: inline-block;
  max-height: 65px;
  width: auto;
  margin: auto;
} */

@media screen and (min-width: 824px) {
  header {
    height: 120px;
  }

  .top-level-nav {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .synergize-logo {
    max-height: 65px;
    width: auto;
    margin: auto;
  }

  .synergize-logo-wrapper {

  }
}

@media screen and (max-width: 823px) {
  header {
    height: 50px;
  }

  .top-level-nav {
    display: none;
  }

  .synergize-logo {
    max-width:270px;
  }

  .synergize-logo-wrapper {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
