header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: #FF5008;
  height: 80px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 3;
  box-shadow: 0 5px 6px 0 rgba(50,50,50,0.26);
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 75%;
  margin: auto;
}

.header-link, .header-list {
  list-style-type: none;
}

.header-link a, .header-category a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Oswald;
}

.auth-link {
  padding: 8px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
}

.auth-link:hover {
  background-color: white;
  color: #FF5008;
  transition-duration: 0.25s;
}
