header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background-color: white;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 5px 6px 0 rgba(50,50,50,0.26);
}

header a {
  text-decoration: none;
}

header a span {
  font-size: 36px;
  font-weight: bold;
  font-family: Comfortaa;
  letter-spacing: 8px;
  color: #FFFF2D;
}

/* .header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 75%;
  margin: auto;
} */

.header-items {
  top: 7px;
  left: 3px;
  position: absolute;
}

.header-link, .header-list {
  list-style-type: none;
}

.header-link a, .header-category a {
  text-decoration: none;
  color: red;
  font-size: 20px;
  font-family: Oswald;
}

.auth-link {
  padding: 8px;
  font-size: 20px;
  font-family: Oswald;
  background-color: white;
  border: 2px solid white;
  border-radius: 6px;
  color: #FF5008;
}

.auth-link:hover {
  background-color: #FF5008;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.synergize-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.synergize-logo {
  display: inline-block;
  max-height: 65px;
  width: auto;
  margin: auto;
}
