
@media screen and (max-width: 823px) {
  .home-page-published-articles {
    width: 100%;
    margin: auto;
  }

  .article-index-item {
    width: 100%;
  }
}

@media screen and (min-width: 824px) {
  .home-page-published-articles {
    width: 80%;
    margin: auto;
  }
}
